*{
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-ms-touch-select: none;
}

html, body { 
	width:100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 0.14rem;
	color:#666666;
	background: #fff;
}

a{
	text-decoration: none;
	color: inherit;
}
input {
	padding: 0 10px;
	height: 0.3rem;
	line-height: 0.3rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	background:none;
}

input:focus{   
  outline:1px solid #0E6EB8;
}


.user-contents{
	padding: 0 10px;
}
.tops{
	height: 0.44rem;
}
.user-parent{
	margin-top: 10px;
}
.user-parent-name{
	height: 0.3rem;
	line-height: 0.32rem;
	display: inline-block;
	width: 25%;
}
.user-parent-code{
	width: 50%;
}
.user-parent-searchs{
	background-color: #0E6EB8;
	display: inline-block;
	height: 0.3rem;
	line-height: 0.32rem;
	width: 13%;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	margin-left:10px;
}
/* .pationsAll{
	display: none;
} */
.xiaoxiao{
	float: left;
	width: 50%;
	height: 0.25rem;
	line-height: 0.25rem;
	font-size: 12px;
	
}
.patCode,
.patName{
	float: left;
}
.patCode{
	width: 105px;
}
.patName{
	width: calc(100% - 105px);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
input[type='text'],
.mui-btn-block{
	padding: 5px 0;
	width: 50%;
	font-size: 0.14rem;
	display:inline-block;
	height: 0.3rem;
	margin-bottom: 6px;
}
input[type='text']{
	padding: 0 10px;
}
.base-btn{
	width: 0.8rem;
	height: 0.3rem;
	color: #fff;
	background: #1070BA;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 5px;
	line-height: 0.32rem;
	text-decoration: none;
	text-align: center;
	font-size: 0.14rem;
}
.base-cancel {
    width: 0.8rem;
    height: 0.3rem;
    color: #1070BA;
    background: #fff;
    display: inline-block;
    border: 1px solid #1070BA;
    border-radius: 5px;
    line-height: 0.32rem;
    text-decoration: none;
    text-align: center;
    font-size: 0.14rem;
}

