*{
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-ms-touch-select: none;
}

html, body { 
	width:100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 0.14rem;
	color:#666666;
}

a{
	text-decoration: none;
	color: inherit;
}
input {
	padding: 0 10px;
	height: 0.3rem;
	line-height: 0.3rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	background:none;
}

input:focus{   
  outline:1px solid #0E6EB8;
}

input[type='text'],
.mui-btn-block{
	padding: 5px 0;
	width: 60%;
	font-size: 0.14rem;
	display:inline-block;
	height: 0.3rem;
	margin-bottom: 10px;
}
input[type='text']{
	padding: 0 10px;
	margin-bottom: 0;
}

.diZhi-all{
	padding: 0 10px;
	height:100%;
}

.tops{
	height: 0.44rem;
}

.diZhi-parent-name{
	height: 0.3rem;
	line-height: 0.3rem;
	display: inline-block;
	width: 20%;
}
.diZhi-parent-code{
	width: 50%;
}

.diZhi-parent-searchs{
	background-color: #0E6EB8;
	border: 1px solid #0E6EB8;
	display: inline-block;
	height: 0.3rem;
	line-height: 0.3rem;
	width: 25%;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	margin-left:10px;
}

.diZhi-parent-close{
	background-color: #fff;
	border: 1px solid #0E6EB8;
	color: #0E6EB8;
	vertical-align: middle;
	line-height: 0.32rem;
}