*{
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-ms-touch-select: none;
}

html, body { 
	width:100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 0.14rem;
	color:#666666;
}

a{
	text-decoration: none;
	color: inherit;
	background-color: #fff;
}

.pulsometer{
	width: 0.6rem;
	height: 0.6rem;
	margin-top: 0.2rem;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -0.3rem;
}
.tops{
	height: 0.44rem;
}
.memu{
	height: 100%;
	padding: 0 0.25rem;
}
.memu-titless{
	color: #0E6EB8;
	height: 0.25rem;
	line-height: 0.25rem;
	margin: 0.3rem 0;
	font-size: 0.18rem;
}
.memu-item{
	/* width: 30%; */
	position: relative;
	text-align: center;
	float: left;
	display: none;
	width: 1.4rem;
	height: 1.45rem;
	margin-bottom: 0.3rem;
	border-radius: 10px;
}
/* .memu-item:nth-of-type(odd){
	margin-right: 0.3rem;
} */
#pulsometera{
	margin-right: 0.3rem;
}
.memu-copy{
	width: 100%;
	height: 100%;
	/* position: absolute;
	left: 0;
	top: 0; */
	background: #E5ECF1;
	opacity: 0.4;
}
.memu-list{
	font-size: 0.14rem;
	position: absolute;
	left: 50%;
	bottom: 0.25rem;
	margin-left: -0.5rem;
	width: 1rem;
}
.memu-list a {
	display: inline-block;
	width: 100%;
}
